{% extends "base.html" %}
{% block content %}
    <div style="margin-top: 50px;" class="ui container">
        <center>
            <h1>✨Simple ToDo App✨</h1>
            <h4 style="margin-bottom: 150px;">This is a simple task scheduling web app, this is the first version of the app so it is very simple.</h4>
        </center>
        <h1>App Content</h1>
        <ul>
            <li><h3 style="display: flex;">Task title input field</h3></li>
            <li><h3 style="display: flex;">Task description insertion field</h3></li>
            <li><h3 style="display: flex;">Button to add a task to the list</h3></li>
            <li><h3 style="display: flex;">List of scheduled tasks</h3></li>
            <li><h3 style="display: flex;">Text indicating task status</h3></li>
            <li><h3 style="display: flex;">Text indicating the date the task was added</h3></li>
            <li><h3 style="display: flex;">Text indicating the task title</h3></li>
            <li><h3 style="display: flex;">Indicative text of the task description</h3></li>
            <li><h3 style="display: flex;">Button to update the task to "Complete" or "Not complete"</h3></li>
            <li><h3 style="display: flex;">Button to delete the task from the task list</h3></li>
        </ul>
        <h1>Technologies</h1>
        <ul>
            <li><h3 style="display: flex;">HTML <img src="https://img.icons8.com/color/30/000000/html-5--v1.png"/></h3></li>
            <li><h3 style="display: flex;">CSS <img src="https://img.icons8.com/color/30/000000/css3.png"/></h3></li>
            <li><h3 style="display: flex;">PYTHON <img src="https://img.icons8.com/color/30 /000000/python--v1.png"/></h3></li>
        </ul>
        <h1>Contacts</h1>
        <ul>
            <li><a target='_blank' href="https://www.facebook.com/euozama/" style="display: flex; font-size: 20px; align-items:center;">fb.me/euozama <img src="https://img.icons8.com/color/30/000000/facebook-new.png"/></a></li>
            <li><a target='_blank' href="https://www.instagram.com/mateus_ozama/" style="display: flex; font-size: 20px; align-items:center;">ig.me/@mateus_ozama <img src="https://img.icons8.com/color/30/000000/instagram-new--v1.png"/></a></li>
        </ul>
    </div>
{% endblock %}